<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设备信息管理</title>
    <link rel="stylesheet" href="css/index.css">
    <script language="JavaScript" src="js/index.js"></script>
</head>
<body>
    <div id="div_container">
        <div id="pica"><img src="imgs/back.png" onclick="backindex()"/></div>
        <div id="div_list">
            <p class="center f30 std">设备信息管理</p>
            <div id="add_div">
                <form th:action="@{/equipment}" method="post" style="float:left" >
                    <input type="hidden" name="oper" value="search">
                    <b>请输入查询关键字:</b><input type="text" name="keyword" th:value="${session.keyword}" class="textborad"/>
                    <input type="submit" value="查询" class="btn"/>
                </form>
                <a th:href="@{equipment/add.html}"><b>添加新库存信息</b></a>
            </div>
            <table id="tbl_fruit">
                <tr>
                    <th class="w20">编号</th>
                    <th class="w20">名称</th>
                    <th class="w20">数量</th>
                    <th class="w20">入库日期</th>
                    <th class="w20">操作</th>
                </tr>
                <tr th:if = "${#lists.isEmpty(session.equiplist)}">
                    <td colspan="5">对不起，库存信息为空</td>
                <tr th:unless = "${#lists.isEmpty(session.equiplist)}" th:each="equipment : ${session.equiplist}">
                <td><a th:text="${equipment.e_id}"></a></td>
                    <td><a th:text="${equipment.e_name}" th:href="@{/equipment.edit(e_id = ${equipment.e_id})}">null</a></td>
                    <td th:text="${equipment.e_count}"></td>
                    <td th:text="${equipment.e_date}"></td>
                    <td th:onclick="edel([[${equipment.e_id}]])"><b style="color: red">X</b></td>
            </tr>
        </table>
            <div style="width: 60%;margin-left: 20%;" class="center">
                <div id="page">
                    <input type="button" value="首  页" class="btn" th:onclick="|epage(${1})|" th:disabled="${session.pageNo==1}">
                    <input type="button" value="上一页" class="btn" th:onclick="|epage(${session.pageNo-1})|" th:disabled="${session.pageNo==1}">
                    <input type="button" value="下一页" class="btn" th:onclick="|epage(${session.pageNo+1})|" th:disabled="${session.pageNo==session.pagecount}">
                    <input type="button" value="尾  页" class="btn" th:onclick="|epage(${session.pagecount})|" th:disabled="${session.pageNo==session.pagecount}">
                </div>
            </div>
    </div>
</div>
</body>
</html>