<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账目信息管理</title>
    <link rel="stylesheet" href="css/index.css">
    <script language="JavaScript" src="js/index.js"></script>
</head>
<body>
    <div id="div_container">
        <div id="pica"><img src="imgs/back.png" onclick="backindex()"/></div>
        <div id="div_list">
            <p class="center f30 std">账目信息管理</p>
            <div id="add_div">
                <form th:action="@{/money}" method="post" style="float:left" >
                    <input type="hidden" name="oper" value="search">
                    <b>请输入查询关键字:</b><input type="text" name="keyword" th:value="${session.keyword}" class="textborad"/>
                    <input type="submit" value="查询" class="btn"/>
                </form>
                <a th:href="@{money/add.html}"><b>添加账目信息</b></a>
            </div>
            <table id="tbl_fruit">
                <tr>
                    <th class="w15">编号</th>
                    <th class="w15">操作</th>
                    <th class="w15">金额</th>
                    <th class="w15">记录日期</th>
                    <th class="w15">审核人</th>
                    <th class="w15">操作</th>
                </tr>
                <tr th:if = "${#lists.isEmpty(session.moneylist)}">
                    <td colspan="6">对不起，账目信息为空</td>
                <tr th:unless = "${#lists.isEmpty(session.moneylist)}" th:each="money : ${session.moneylist}">
                <td><a th:text="${money.m_id}"></a></td>
                    <td><a th:text="${money.m_action}" th:href="@{/money.edit(m_id = ${money.m_id})}">null</a></td>
                    <td th:text="${money.m_count}"></td>
                    <td th:text="${money.m_date}"></td>
                    <td th:text="${money.m_username}"></td>
                    <td th:onclick="mydel([[${money.m_id}]])"><b style="color: red">X</b></td>
            </tr>
        </table>
            <div style="width: 60%;margin-left: 20%;" class="center">
                <div id="page">
                    <input type="button" value="首  页" class="btn" th:onclick="|mypage(${1})|" th:disabled="${session.pageNo==1}">
                    <input type="button" value="上一页" class="btn" th:onclick="|mypage(${session.pageNo-1})|" th:disabled="${session.pageNo==1}">
                    <input type="button" value="下一页" class="btn" th:onclick="|mypage(${session.pageNo+1})|" th:disabled="${session.pageNo==session.pagecount}">
                    <input type="button" value="尾  页" class="btn" th:onclick="|mypage(${session.pagecount})|" th:disabled="${session.pageNo==session.pagecount}">
                </div>
            </div>
    </div>
</div>
</body>
</html>